.app {
    position: relative;

    &-container {
        padding: 70px 310px 20px;
        display: flex;
        justify-content: center;
    }
}

.main-info-wrapper {
    display: flex;
    flex-direction: row;
    gap: 80px;
}