.search {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__input {
        width: 180px;
        height: 30px;
        font-family: 'Merienda', cursive;
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        background: #FFFFFF;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
        border: none;
        border-radius: 4px;
    }
}